
.btn {
  margin: 0;
  padding: 10px;

  background-color: transparent;

  border: 1px solid teal;
  border-radius: 4px;

  font-size: 1em;

  &Border {
    color: black;

    &:hover {
      background-color: teal;
      color: white;
    }
  }

  &Color {
    background-color: teal;
    color: white;

    &:hover {
      border: 1px solid black;
    }
  }
}